$color-secciones: #008080;
$gradiente-secciones: linear-gradient(90deg, rgba(0,128,128,1) 77%, rgba(9,64,75,1) 93%);

footer{
    background: $color-secciones;
background: $gradiente-secciones;
    /* width: 100%; */
    
}
.c-blanco{
    color: white;
}

.subtitulo{
    font-size: large;
}